## 🗂️ .gitignore


# Binaries
onefile
onefile.txt
# IDE and editor directories
/.idea/
/.vscode/
/*.swp
.DS_Store


# Configuration files (if any sensitive data)
config.yaml

# Temporary files
/tmp/
*.tmp
*.bak

# Others
*.pid
*.seed
*.lock
